<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDRRgWv82vKyHRpvxVkZKvMcRAPq0GWG0A</string>
	<key>GCM_SENDER_ID</key>
	<string>363315014834</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>ivan.WaddleUp</string>
	<key>PROJECT_ID</key>
	<string>waddleup-cbfae</string>
	<key>STORAGE_BUCKET</key>
	<string>waddleup-cbfae.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:363315014834:ios:5bd36d466ec365d0d92dab</string>
</dict>
</plist>